.Education {
    margin: 1rem 2rem 4rem;
}

.Education h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 600;
}

.Education li {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(39, 44, 49, 0.06),
        -10px 10px 15px rgba(39, 44, 49, 0.03);
    border-radius: 20px;
    list-style: none;
}

.Education h2,
.Education h3 {
    text-align: center;
}

.Education h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
}

.Education h3 {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 0 1rem 0;
}

.Education p {
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 400;
}

.Education h4 {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 0 0 0;
    text-align: center;
}

@media screen and (min-width: 1023px) {
    .Education h1 {
        font-size: 3rem;
    }

    .Education ul {
        margin: 0 19rem;
    }

    .Education li {
        margin: 7rem;
    }

    .Education h2 {
        font-size: 2rem;
    }

    .Education h3 {
        font-size: 1.6rem;
    }

    .Education p {
        font-size: 1.8rem;
    }
}