.Education {
    margin: 1rem 2rem 4rem;
}

.Education h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Mate SC', serif;
}

.Education li {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(39, 44, 49, 0.06),
        -10px 10px 15px rgba(39, 44, 49, 0.03);
    border-radius: 20px;
    list-style: none;
}

.Education h2,
.Education h3 {
    text-align: center;
}

.Education h2 {
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    padding: 1rem 0;
}

.Education h3 {
    font-size: clamp(1.4rem, 2.5vw, 1.6rem);
    font-weight: 300;
    padding: 0 0 1rem 0;
}

.Education p {
    text-align: justify;
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
    font-weight: 400;
}

.Education h4 {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 0 0 0;
    text-align: center;
}

@media screen and (min-width: 1023px) {
    .Education ul {
        margin: 0 auto;
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;
        grid-template-columns:  1fr 1fr 1fr;
    }
}