.Experiences {
    margin:1rem 2rem 4rem;
}

.Experiences h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 600;
}

.Experiences li {
    padding: 1rem;
    box-shadow: 10px 10px 15px rgba(39, 44, 49, 0.06),
    -10px 10px 15px rgba(39, 44, 49, 0.03);
    border-radius: 20px;
    list-style: none;
}

.Experiences h2, .Experiences h3 {
    text-align: center;
}

.Experiences h2 {
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    padding: 1rem 0;
}

.Experiences h3 {
    font-size: clamp(1.4rem, 2.5vw, 1.6rem);
    font-weight: 300;
    padding:0 0 1rem 0;
}

.Experiences p {
    text-align: justify;
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
    font-weight: 400;
}

.Experiences h4 {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 0 0 0;
    text-align: center;
}

@media screen and (min-width: 1023px) {

    .Experiences ul {
        display: grid;
        margin: 0 auto;
        padding: 1rem;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

}