.Projects {
    padding: 3rem;
}

.Projects_card_content {
    --gap: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
    list-style-type: none;
}

.Projects_card {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 1rem;
    overflow: hidden;

    transition: transform 500ms ease;
}

.Projects_card:hover {
    transform: scale(1.05);
}

.Projects_card_title {
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    text-align: center;
    position: relative;
}

.Projects_card_title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + var(--gap));
    left: calc(var(--gap) * -1);
    bottom: 0;
    background: #24292e;
    transform: scaleX(0);

    transition:  transform 500ms ease;
}

.Projects_card:hover .Projects_card_title::after {
    transform: scaleX(1);
}

.Projects_card_body {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    text-align: justify;
    font-weight: 300;
}

.Projects picture {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.Projects img {
    border-radius: 10px;
}

.Projects_link {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.Projects_link_button {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: #ffffff;
    background-color: #24292e;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.Projects_link_button:hover,
.Projects_link_button:focus {
    filter: opacity(.5);
    background: rgb(5, 4, 4);
}

@media screen and (min-width: 1023px) {
    .Projects_card_content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}