.Projects {
    padding: 3rem;
}

.Projects ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    list-style-type: none;
}

.Projects li {
    border: .6px solid #24292e;
    border-radius: 6px;
    box-shadow: 10px 10px 15px rgba(39, 44, 49, 0.06),
    -10px 10px 15px rgba(39, 44, 49, 0.03);
    padding: 1rem;
}

.Projects h2 {
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    text-align: center;
}

.Projects_link span {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    text-align: justify;
    font-weight: 300;
}

.Projects picture {
    display: flex;
    justify-content: center;
}

.Projects img {
    border-radius: 10px;
}

.Projects_image:hover  img {
    transform: scale(1.2);
}

.Projects  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #24292e;
}

.Projects a:hover {
    filter: opacity(.5);
}

@media screen and (min-width: 1023px) {
    .Projects ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}